.auth-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.auth-modal {
    background: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-authentication{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.nicname-and-checkmark{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.auth-modal h1 {
    margin: 0 0 10px;
    font-size: 24px;
}

.auth-modal h2 {
    margin: 0 0 20px;
    font-size: 18px;
}

.auth-modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-modal button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.auth-modal button:hover {
    background: #0056b3;
}

.auth-modal p {
    margin: 10px 0;
}

.auth-modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.auth-modal .close-button:hover {
    color: #000;
}